---
// * esto solo se ejecuta en el desarollo, no en produccion

const title = "Mi proyecto de Astro!!!";
const color = "warning";

const hobbies = ["programar", "leer", "escribir", "ver peliculas"];

const isActive = true;
---

<h1>{title}</h1>

<ul>
  {
    hobbies.map((item) => {
      return (
        <li>
          {" "}
          <h3>{item}</h3> <button>Like</button>{" "}
        </li>
      );
    })
  }
</ul>

<h3 class="warning">{isActive && "El usuario esta activo"}</h3>

<script>
  console.log("Hello world");
</script>

<style>
  body {
    background: #202020;
    color: white;
  }
  .title {
    color: skyblue;
  }
  .danger {
    color: red;
  }
  .warning {
    color: yellow;
  }
</style>
