---
// esto solo se ejecuta en el desarollo, no en produccion

const title = "Mi proyecto de Astro!!!";
---

<h1 class="title">{title}</h1>

<script>
  console.log("Hello world");
</script>

<style>
  body {
    background: #202020;
    color: white;
  }
  .title {
    color: skyblue;
  }
</style>
